
#cellule {
  width: auto !important;
  border-color: black;
  background-color: white;
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

.separator {
  height: 2px;
  background-color: #CCC;
  margin: 20px 0;
  width: 65%;
}

.badge-perso {
  top: 15px;
  left: 15px;
  border-radius: 35%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-component {
  transition: transform 0.15s ease-in-out;
}

.exercise-component:hover {
  transform: scale(1.01);
}
