
<!-- Modal contenant le commentaire -->
<app-consultation-commentaire [estVisible]="commentaireEstAffiche"
                              [nomClasse]="exercice.nom"
                              [contenuCommentaire]="reponse?.commentaire ?? null"
                              (doitFermer)="fermeModalCommentaire($event)"></app-consultation-commentaire>


<div class="position-relative exercise-component">

  <div *ngIf="exercice.indexSequence !== null">
    <span class="bg-secondary-subtle position-absolute badge-perso"
          pTooltip="Position dans la série d'exercices'"
          tooltipPosition="right"
          placeholder="Right">
      {{ exercice.indexSequence }}
    </span>
  </div>

  <div id="cellule" class="align-items-center justify-content-center rounded shadow">

    <div class="row mt-4">
      <div class="col">
        <h4 class="mt-5">
          {{ exercice.nom }}
        </h4>
      </div>
    </div>

    <div class="row mt-3 mb-1">
      <div class="col-10 offset-1">
        {{ formatEnonce(exercice.description) }}
      </div>
    </div>

    <div class="row mt-4 mb-2">
      <div *ngIf="reponse !== null">
        <button class="btn btn-secondary ms-auto btn-medium" (click)="consulteExercice()">
          Terminée!
        </button>
      </div>
      <div *ngIf="reponse === null">
        <button class="btn btn-success ms-auto btn-medium" (click)="consulteExercice()">
          Commencer
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="separator"></div>
    </div>

    <div class="row pb-4">
      <div class="col-xl-4 offset-xl-1" style="padding-right: 0px !important;">
        <div *ngIf="reponse === null" class="fw-bold texte-aucune-reponse mt-2">
          Aucun résultat
        </div>
        <div *ngIf="reponse && reponse.estReussi" class="fw-bold texte-reussi  mt-2">
          Réussi <i class="fa-solid fa-check mx-1"></i>
        </div>
        <div *ngIf="reponse && reponse.estReussi === false" class="fw-bold texte-echoue mt-2">
          Échoué <i class="fa-solid fa-x fa- mx-1"></i>
        </div>
      </div>

      <div class="col-xl-7 text-center mt-1">
        <button class="btn btn-dark btn-medium espace-haut-petit-ecrean" (click)="ouvreModalCommentaire()">
          Commentaire ({{ (reponse?.commentaire !== null) ? 1 : 0 }})
        </button>

        <div *ngIf="exercice.dateEcheance !== null" class="text-muted mt-3" style="margin-right: 30px" style="font-size: small">
          Disponible jusqu'au <br /> {{ formatDate(exercice.dateEcheance) }}
        </div>
      </div>
    </div>
  </div>
</div>
