/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.css';

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

@import "@fortawesome/fontawesome-free/css/all.css";


.boutonFinPage {
  position: fixed;
  bottom: 30px;
  right: 3px;
}

.disabled-pointer-events {
  pointer-events: none;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: opacity 0.25s;
  pointer-events: none;
}

.btn-enabled {
  opacity: 1;
  border: none;
  pointer-events: auto;
  transition: background-color 0.25s ease, opacity 0.25s ease;
}

.btn-medium {
  padding: 10px 24px !important;
  cursor: pointer;
}

.texte-aucune-reponse {
  color: #716A5D;
}

.texte-reussi {
  color: #03A700;
}

.texte-echoue {
  color: #E40000;
}

.fa-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1199px) {
  .espace-haut-petit-ecrean {
    margin: 20px;
  }
}
