﻿<div class="modal-header">
  <h4 class="modal-title">Confirmation</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss(false)"></button>
</div>
<div class="modal-body">
  <p>{{messageConfirmation}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">Confirmer</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">Annuler</button>
</div>
