<div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
  <div class="container">
    <div class="row m-3">
      <app-erreur [message]="msgErreur"></app-erreur>
      <div class="col-md-6 offset-md-3 text-center">
        <h2>Connexion portail enseignant</h2>
        <form [formGroup]="connexionEnseignantForm" (ngSubmit)="connecterEnseignant()">
          <div class="form-floating m-3">
            <input type="text" class="form-control bg-dark bg-opacity-10" id="courriel"
                   formControlName="courriel"
                   [class.is-invalid]="courriel?.invalid && (courriel?.dirty || courriel?.touched)">
            <label for="courriel">Courriel</label>
            <div class="invalid-feedback">
              <span *ngIf="courriel?.errors?.['required']">
                Veuillez entrer un courriel
              </span>
              <span *ngIf="courriel?.errors?.['email']">
                Veuillez entrer un courriel valide
              </span>
            </div>
          </div>
            <div class="form-floating m-3">
              <input type="text" class="form-control bg-dark bg-opacity-10" id="motDePasse"
                     formControlName="motDePasse"
                     [class.is-invalid]="motDePasse?.invalid && (motDePasse?.dirty ||
                     motDePasse?.touched)">
              <label for="motDePasse">Mot de passe</label>
              <div class="invalid-feedback">
              <span *ngIf="motDePasse?.errors?.['required']">
                Veuillez entrer un mot de passe
              </span>
              </div>
            </div>
          <button type="submit" class="btn btn-secondary mx-3">Se connecter</button>
        </form>
      </div>
    </div>
  </div>
</div>
