
<p-dialog id="position"
          header="Commentaire «{{ nomClasse }}»"
          [modal]="true"
          [(visible)]="estVisible"
          [draggable]="false"
          [style]="{ width: '35rem' }"
          closable="true"
          [dismissableMask]="true"
          (onHide)="quitterModal()">

  <div class="mx-2">
    <div class="p-text-secondary block mb-5 mt-3 mx-4">
        <div class="fw-bold" *ngIf="contenuCommentaire !== null">
          {{ contenuCommentaire }}
        </div>

        <div *ngIf="contenuCommentaire === null">
          Aucun commentaire n'a été inscrit par votre professeur
        </div>
    </div>

    <div class="d-flex justify-content-center gap-2 mt-4 mb-2">
      <button type="button"
              class="btn btn-danger btn-medium w-50"
              (click)="quitterModal()">
        Fermer
      </button>
    </div>
  </div>
</p-dialog>
