
<!-- Modale de blocage si la classe est fermée -->
<app-classe-fermee [estVisible]="doitAfficheModalClasseFermee"
                   [nomClasse]="classe?.nom ?? '?'"></app-classe-fermee>


<!-- Modal de connexion étudiant -->
<app-connexion-compte-etudiant [estVisible]="doitAfficheModalConnexion && !doitAfficheModalClasseFermee"
                               [classeId]="classe?.id ?? -1"
                               (etudiant)="onUtilisateurConnecte($event)"
                               (classeEstFermee)="onConnexionEtatClasse($event)"></app-connexion-compte-etudiant>


<div class="container">
  <div class="row">
    <div class="col-10 offset-1 mt-5 mb-4 text-center">
      <h2>{{ classe?.nom }}</h2>
      <h6 class="text-muted mt-1">{{ classe?.description }}</h6>
    </div>
    <div class="col-1 mt-5 pt-3 text-start">
      <button id="refreshButton"
              class="btn"
              pTooltip="Rafraichir les données"
              tooltipPosition="left"
              placeholder="Left"
              [disabled]="tourneBouton"
              (click)="rafraichiPage()">
        <i [ngClass]="{'fa-spin': tourneBouton}" class="fas fa-refresh text-white"></i>
      </button>
    </div>
  </div>

  <div *ngIf="exercices.length == 0">
    <div class="row">
      <div class="col-lg-12 mt-3">
        <div class="text-center fw-bold mt-3">
          Aucun exercice n'est disponible pour le moment
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="exercices.length > 0">
    <div class="row">
        <div class="col-lg-4 text-center mb-5" *ngFor="let exercice of exercices">
          <app-exercice [exercice]="exercice"
                        [reponse]="prendReponseExercice(exercice.id)"
                        [classeId]="classe?.id ?? -1"
                        (classeEstFermee)="onConnexionEtatClasse($event)"></app-exercice>
        </div>
    </div>
  </div>
</div>
