
#refreshButton {
  background-color: #0ea5e9 !important;
  border: none !important;
  padding: 12px 20px !important;
}

  #refreshButton:hover {
    background-color: hsl(195, 100%, calc(60% - 20%)) !important;
  }
