
<div class="d-flex flex-column align-items-center justify-content-center me-5" style="height:
80vh;">
  <div class="container mt-5">
    <div class="row mt-5 pt-5">
      <!--<app-erreur [message]="msgErreur"></app-erreur> -->
      <div class="col-md-8 offset-md-2 text-center mt-5 pt-5">
        <h1>Gestion des classes</h1>
        <div class="row">
          <div class="col-sm-5 col-md-5 offset-md-8 offset-sm-7 text-center">
            <button class="btn btn-light btn-outline-dark" [routerLink]="'/portail-enseignant/nouvelle-classe'">Ajouter une classe +</button>
          </div>
        </div>
        <div *ngIf="classes.length == 0">
          <p>Vous n'avez aucune classe.</p>
        </div>
        <div *ngIf="classes.length > 0">
          <div *ngFor="let classe of classes">
            <div class="container bgCase bg-opacity-50 m-3 p-2 border border-2 rounded border-dark">
              <div class="row p-2">

                <div class="col-4">
                  <p>{{ classe.nom }}</p>
                  <p>Nombre de questions : </p>
                </div>
                <div class="col-4">
                  <p>code d'accès</p>
                  <p>{{ classe.codeAcces }}</p>
                </div>
                <div class="col offset-md-2">
                  <button class="btn btn-light btn-outline-dark" (click)="supprimerClasse(classe.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg></button>
                </div>
              </div>
              <div class="row">
                <button *ngIf="classe.estActive" class="col-sm-5 col-md-4 btn btnEtatClasse m-2 me-3"> Voir l'état de la classe</button>
                <button class="col-sm-3 col-md-3 btn btn-light m-2 me-5" (click)="modifierClasse(classe.id)"> Modifier</button>
                <button *ngIf="classe.estActive" class="col-sm-2 col-md-3 btn btn-danger m-2 ms-4" (click)="arreterClasse(classe.id)">Arrêter</button>
                <button *ngIf="!classe.estActive" class="col-sm-2 col-md-3 btn btnDemarrer m-2 ms-4" >Démarrer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

