.bgCase {
  background-color: #dfe0e3;
}

.btnEtatClasse {
  background-color: #fcffb6;
}
.btnEtatClasse:hover {
  background-color: #c6cb84;
}

.btnDemarrer {
  background-color: #a3eab4;
}

.btnDemarrer:hover {
  background-color: #82c298;
}
