
<div class="px-5 py-5">
  <h2>
    <b>Documentation Officielle PJS</b> - (PseudoJavaScript)
  </h2>

  <h5 class="pt-2 pb-5 col-8">
    Le Pjs (ou PseudoJavaScript) est un langage qui se veut intuitif pour des apprentis
    développeurs issus de la francophonie. Il consiste en une vision plus abordable du
    javascript grâce à la traduction et révision de plusieurs termes issus de ce language.<br>
    L'avantage est aussi de pouvoir écrire à la fois en Pjs et en javascript classique dans
    le même script, afin de s'initier à sa vitesse à du code plus "concret".<br><br>
    /!\ Tout les termes peuvent êtres écrits avec ou sans accents!
  </h5>

  <h3 class="text-center">
    <b>Termes généraux</b>
  </h3>

  <div class="d-flex justify-content-center">
    <table class="w-75 my-5">
      <tr>
        <th>Terme en Pjs</th>
        <th>Terme en javascript</th>
        <th>Explications</th>
      </tr>

      <tr>
        <td>affiche<br>afficher</td>
        <td>console.log</td>
        <td>prend un argument et l'affiche en console</td>
      </tr>

      <tr>
        <td>variable</td>
        <td>var</td>
        <td>défini une variable globale</td>
      </tr>

      <tr>
        <td>laitue<br>laideron</td>
        <td>let</td>
        <td>défini une variable généralement limitée à une fonction</td>
      </tr>

      <tr>
        <td>classe<br>objet</td>
        <td>class</td>
        <td>défini une classe</td>
      </tr>

      <tr>
        <td>constructeur</td>
        <td>constructor</td>
        <td>défini un constructeur pour une classe</td>
      </tr>

      <tr>
        <td>ceci<br>sois-meme</td>
        <td>this</td>
        <td>
          référence de la classe. Lorsqu'on se situe dans la classe et que l'on veut
          accéder à une de ces variables, on peut utiliser "ceci.variable"
        </td>
      </tr>

      <tr>
        <td>si</td>
        <td>if</td>
        <td>défini une condition.<br>la nomenclature est: si (condition) &#123; résultat &#125;</td>
      </tr>

      <tr>
        <td>sinon si</td>
        <td>else if</td>
        <td>dans le cas ou la condition précédente n'est pas résolue, entre dans le sinon si</td>
      </tr>

      <tr>
        <td>sinon</td>
        <td>else</td>
        <td>dans le cas ou aucune condition précédente n'est résolue, entre dans le sinon</td>
      </tr>

      <tr>
        <td>pour</td>
        <td>for</td>
        <td>
          défini une boucle qui répète un résultat un certain nombre de fois.<br>la nomenclature est: pour (
          variable i = 0; i plus petit que 100; i increment 1) &#123;résultat&#125;<br>dans ce cas,
          il se fera 100 répétitions, soit jusqu'à ce que i passe de 0 à 100 en faisant des bonds de 1 (l'incrément)
        </td>
      </tr>

      <tr>
        <td>dans</td>
        <td>of</td>
        <td>
          utilisé pour une répétition qui boucle dans une liste.<br>la nomenclature est: pour (variable nom dans
          liste) &#123;résultat&#125;
        </td>
      </tr>

      <tr>
        <td>tant que<br>tant</td>
        <td>while</td>
        <td>
          répète le contenu d'une condition tant qu'elle est vrai.<br>la nomenclature est: tant que (
          condition) &#123;résultat&#125;
        </td>
      </tr>


      <tr>
        <td>incrément</td>
        <td>+=</td>
        <td>augmente une variable de la valeur écrite après l'incrément</td>
      </tr>

      <tr>
        <td>égal à<br>égal</td>
        <td>==</td>
        <td>opérateur conditionnel valide si la première valeur est égale à la deuxième</td>
      </tr>

      <tr>
        <td>plus grand que<br>plus grand<br>est supérieur à<br>supérieur à</td>
        <td>></td>
        <td>opérateur conditionnel valide si la première valeur est plus grande que la deuxième</td>
      </tr>

      <tr>
        <td>plus petit que<br>plus petit<br>est inférieur à<br>inférieur à</td>
        <td><</td>
        <td>opérateur conditionnel valide si la première valeur est plus petite que la deuxième</td>
      </tr>

      <tr>
        <td>plus grand ou égal à<br>plus grand ou égal<br>est supérieur ou égal à<br>supérieur ou égal à</td>
        <td>>=</td>
        <td>opérateur conditionnel valide si la première valeur est plus grande ou égale à la deuxième</td>
      </tr>

      <tr>
        <td>plus petit ou égal à<br>plus petit ou égal<br>est inférieur ou égal à<br>inférieur ou égal à</td>
        <td><</td>
        <td>opérateur conditionnel valide si la première valeur est plus petite que la deuxième</td>
      </tr>

      <tr>
        <td>vrai<br>oui</td>
        <td>true</td>
        <td>opérateur toujours vrai.<br>/!\tant que (vrai) &#123;résultat&#125; est une boucle infinie!</td>
      </tr>

      <tr>
        <td>faux<br>non</td>
        <td>false</td>
        <td>opérateur toujours faux.<br>/!\tant que (!faux) &#123;résultat&#125; est une boucle infinie!</td>
      </tr>

      <tr>
        <td>modulo</td>
        <td>%</td>
        <td>effectue l'opération modulo, qui consiste en récupérer le restant d'une division</td>
      </tr>

    </table>
  </div>

  <h3 class="text-center"><b>Termes spécifiques au listes</b></h3>
  <h5 class="text-center">
    Ces fonctions doivent êtres utilisées avec une liste afin de la modifier ou de
    récupérer des informations sur celle-ci.<br>la nomenclature est liste.fonction
  </h5>
  <div class="d-flex justify-content-center">
    <table class="w-75 my-5">
      <tr>
        <th>Terme en Pjs</th>
        <th>Terme en javascript</th>
        <th>Explications</th>
      </tr>

      <tr>
        <td>taille<br>longueur</td>
        <td>length</td>
        <td>retourne un nombre égal à la taille de la liste</td>
      </tr>

      <tr>
        <td>ajoute(VARIABLE)</td>
        <td>push()</td>
        <td>ajoute un élément à la liste</td>
      </tr>

      <tr>
        <td>retire dernier()<br>retirer le dernier()</td>
        <td>pop()</td>
        <td>retire le dernier élément de la liste.<br>/!\ nécessite d'ajouter () car c'est une fonction!</td>
      </tr>

      <tr>
        <td>retire premier()<br>retirer le premier()</td>
        <td>shift()</td>
        <td>retire le premier élément de la liste.<br>/!\ nécessite d'ajouter () car c'est une fonction!</td>
      </tr>

      <tr>
        <td>converti en texte()</td>
        <td>toString()</td>
        <td>converti une liste en texte.<br>/!\ nécessite d'ajouter () car c'est une fonction!</td>
      </tr>

    </table>
  </div>

  <h3 class="text-center"><b>Termes spécifiques au variables textes</b></h3>
  <h5 class="text-center">
    Ces fonctions doivent êtres utilisés avec une variable texte afin de la modifier ou de
    récupérer des informations sur celle-ci.<br>la nomenclature est variable.fonction
  </h5>
  <div class="d-flex justify-content-center">
    <table class="w-75 my-5">
      <tr>
        <th>Terme en Pjs</th>
        <th>Terme en javascript</th>
        <th>Explications</th>
      </tr>

      <tr>
        <td>taille<br>longueur</td>
        <td>length</td>
        <td>retourne un nombre égal au nombre de charactères du texte</td>
      </tr>

      <tr>
        <td>incrément</td>
        <td>+=</td>
        <td>ajoute du contenu au texte</td>
      </tr>

      <tr>
        <td>converti en minuscule()<br>en minuscule()</td>
        <td>toLowerCase()</td>
        <td>converti les termes majuscules du texte en minuscule.<br>/!\ nécessite d'ajouter () car c'est une fonction!</td>
      </tr>

      <tr>
        <td>converti en majuscule()<br>en majuscule()</td>
        <td>toUpperCase()</td>
        <td>converti les termes minuscules du texte en majuscule.<br>/!\ nécessite d'ajouter () car c'est une fonction!</td>
      </tr>

    </table>
  </div>

  <h3 class="text-center"><b>Opérations Mathématiques Spécifiques</b></h3>
  <h5 class="text-center">
    Ces fonctions permettent quelques fonctionnalités mathématiques pratiques!
  </h5>
  <div class="d-flex justify-content-center">
    <table class="w-75 my-5">
      <tr>
        <th>Terme en Pjs</th>
        <th>Terme en javascript</th>
        <th>Explications</th>
      </tr>

      <tr>
        <td>signe de(NOMBRE)<br>signe(NOMBRE)</td>
        <td>Math.sign()</td>
        <td>renvoie 1 si le nombre est positif et -1 s'il est négatif</td>
      </tr>

      <tr>
        <td>absolu de(NOMBRE)<br>absolu(NOMBRE)</td>
        <td>Math.abs()</td>
        <td>renvoie le nombre, mais positif s'il était négatif</td>
      </tr>

      <tr>
        <td>puissance(BASE, EXPOSANT)</td>
        <td>Math.pow()</td>
        <td>effectue l'opération base^exposant</td>
      </tr>

      <tr>
        <td>maximum(NOMBRE, ...)</td>
        <td>Math.max()</td>
        <td>prend en compte n'importe quel nombre de valeur afin de retourner la plus élevée</td>
      </tr>

      <tr>
        <td>minimum(NOMBRE, ...)</td>
        <td>Math.min()</td>
        <td>prend en compte n'importe quel nombre de valeur afin de retourner la plus basse</td>
      </tr>

      <tr>
        <td>nombre aleatoire()<br>aleatoire()</td>
        <td>Math.random()</td>
        <td>renvoie une valeur aléatoire entre 0 et 1</td>
      </tr>

    </table>
  </div>

  <h3 class="text-center"><b>Fonctions spécifiques à PJS</b></h3>
  <h5 class="text-center">
    Ces fonctions ne sont pas des fonctions officielles de javascript et ont pour but de simplifier certains bout
    de code plus complexes
  </h5>
  <div class="d-flex justify-content-center">
    <table class="w-75 my-5">
      <tr>
        <th>Terme en Pjs</th>
        <th>Terme en javascript</th>
        <th>Explications</th>
      </tr>

      <tr>
        <td>nombre aleatoire entre(MIN, MAX)</td>
        <td>Pjs.rnd()</td>
        <td>renvoie un nombre aleatoire entre min et max</td>
      </tr>

      <tr>
        <td>vider(LISTE)<br>vide(LISTE)</td>
        <td>Pjs.empty()</td>
        <td>vide une liste</td>
      </tr>
    </table>
  </div>
</div>
