
table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  background-color: rgba(255,255,255,0.35);
}

tr {
  border: solid;
  border-width: 1px;
}
