
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
  <div class="container">
    <div class="row m-3">
      <div class="w-75">
        <app-erreur [message]="msgErreur"></app-erreur>
      </div>

      <div class="col-md-6 offset-md-3 text-center">
        <h2>Rejoindre une classe</h2>
        
        <div class="form-floating my-4">
          <input pInputText
                 [(ngModel)]="code"
                 placeholder="Code de la classe"
                 id="codeInput"
                 class="bg-opacity-10"
                 autocomplete="on"
                 variant="filled"  />
        </div>

        <button type="submit"
                class="btn btn-dark btn-medium"
                [disabled]="code === ''"
                (click)="rejoindreClasse()">
          Rejoindre
        </button>
      </div>
    </div>
  </div>
</div>

<button *ngIf="!utilisateur" class="btn btn-secondary mx-3 boutonFinPage btn-medium"
        [routerLink]="'/portail-enseignant/connexion'">
  Portail enseignant
</button>
