
<p-dialog id="position"
          header="Fermeture de la classe"
          [modal]="true"
          [(visible)]="estVisible"
          [draggable]="false"
          [style]="{ width: '35rem' }"
          closable="false"
          [dismissableMask]="false">

  <div class="mx-2">
    <div class="block mb-5 mt-3 mx-4">
      La classe <strong>"{{ nomClasse }}"</strong> à été fermée.
      <br />
      Veuillez retourner à l'accueil.
    </div>

    <div class="d-flex justify-content-center gap-2 mt-4 mb-2">
      <button type="button"
              class="btn btn-danger btn-medium w-50"
              (click)="quitterClasse()">
        Quitter la classe
      </button>
    </div>
  </div>
</p-dialog>
