
<div class="text-center mt-5"><h1>Licence MIT</h1></div>
<div class="row">
  <div class="col-6 offset-3">
    <div class="text-center mt-3"><p>Copyright (c) 2024 &lt;&lt;PJS&gt;&gt;</p></div>
    <div class="text-center mt-3">
      <p>
        L'autorisation est accordée, gracieusement, à toute personne acquérant une copie de
        cette bibliothèque et des fichiers de documentation associés (la "Bibliothèque"), de commercialiser la
        Bibliothèque sans restriction, notamment les droits d'utiliser, de copier, de modifier, de fusionner, de publier,
        de distribuer, de sous-licencier et / ou de vendre des copies de la Bibliothèque, ainsi que d'autoriser les
        personnes auxquelles la Bibliothèque est fournie à le faire, sous réserve des conditions suivantes :
      </p>
    </div>
    <div class="text-center mt-3">
      <p>
        La déclaration de copyright ci-dessus et la présente autorisation doivent être
        incluses dans toutes copies ou parties substantielles de la Bibliothèque.
      </p>
    </div>
    <div class="text-center mt 3">
      <p>
        LA BIBLIOTHÈQUE EST FOURNIE "TELLE QUELLE", SANS GARANTIE D'AUCUNE SORTE, EXPLICITE
        OU IMPLICITE, NOTAMMENT SANS GARANTIE DE QUALITÉ MARCHANDE, D’ADÉQUATION À UN USAGE PARTICULIER ET D'ABSENCE DE
        CONTREFAÇON. EN AUCUN CAS, LES AUTEURS OU TITULAIRES DU DROIT D'AUTEUR NE SERONT RESPONSABLES DE TOUT DOMMAGE,
        RÉCLAMATION OU AUTRE RESPONSABILITÉ, QUE CE SOIT DANS LE CADRE D'UN CONTRAT, D'UN DÉLIT OU AUTRE, EN PROVENANCE
        DE, CONSÉCUTIF À OU EN RELATION AVEC LA BIBLIOTHÈQUE OU SON UTILISATION, OU AVEC D'AUTRES ÉLÉMENTS DE LA
        BIBLIOTHÈQUE.
      </p>
    </div>
  </div>
</div>
