<div class="container">
  <div class="col-md-6 offset-md-3 text-center">
    <app-erreur [message]="msgErreur"></app-erreur>
    <h1 class="my-5">Création d'une nouvelle classe</h1>
  </div>

  <div class="row ms-3">
    <div class="col-md-4">
      <form [formGroup]="classeForm">
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="nom"
                 formControlName="nom" placeholder="Nom"
                 [class.is-invalid]="nom?.invalid && (nom?.dirty || nom?.touched)">
          <label for="nom">Nom de la classe</label>
          <div class="invalid-feedback">
                <span *ngIf="nom?.errors?.['required']">
                  Veuillez entrer un nom pour la classe
                </span>
          </div>
        </div>
        <div class="form-floating m-3">
              <textarea class="form-control" style="height: 250px;" placeholder="description"
                        formControlName="description" id="description"
                        [class.is-invalid]="description?.invalid && (description?.dirty || description?.touched)"></textarea>
          <label for="description">Description de la classe (optionnel)</label>
          <div class="invalid-feedback">
                <span *ngIf="description?.errors?.['required']">
                  Veuillez entrer une description
                </span>
          </div>
        </div>
      </form>
    </div>
    <div class="col border-start border-dark border-2">
      <button class="btn btn-light btn-outline-dark ms-5 mt-2" (click)="ajouterExercice()">Ajouter un exercice +</button>
      <div class="text-muted text-center mt-3" *ngIf="exercices.length == 0">
        <p>Aucun exercice n'a été créé pour ce cours.</p>
      </div>
      <div *ngIf="exercices.length > 0">
        <div *ngFor="let exercice of exercices">
          <ul class="list-group list-group-item-light m-2">
            <li class="list-group-item row text-start">
              <div class="row d-flex justify-content-between align-items-start align-items-center">
                <div class="col-lg-6">
                  <h4>{{exercice.nom}}</h4>
                  <h5>
                    {{exercice.description}}
                  </h5>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 offset-md-3 text-center mt-5">
    <button class="btn btn-danger me-5 px-5" (click)="annulerCreation()">Annuler la création</button>
    <button type="submit" class="btn btn-secondary ms-2 px-3" (click)="creerClasse()">Sauvegarder</button>
  </div>
</div>


