<div class="row px-5 container-fluid">
  <div class="col-md-6">
    <h6 class="text-muted mt-3">Éditeur PJS</h6>
    <ngx-codemirror class="py-2" #codeeditor
                    [(ngModel)]="content"
                    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'javascript'
    }"></ngx-codemirror>
  </div>

  <div class="col-md-6">
    <h6 class="text-muted mt-3">Rendu Javascript</h6>
    <ngx-codemirror class="pe-5 py-2" #codeviewer
                    [(ngModel)]="viewport"
                    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'javascript',
      readOnly: 'nocursor'
    }"></ngx-codemirror>
  </div>
</div>

<div class="row px-5 align-items-center container-fluid">
  <div class="col-5">
    <h6 class="text-muted mt-2">Console</h6>
    <textarea id="console" style="height: 200px; width: 110%; resize: none; background-color: black" disabled></textarea>
  </div>
  <div class="col-4 px-5">
    <button type="submit" class="btn btn-primary px-5 mx-4" id="btn-go" style="border: none" (click)="exec()">GO!</button>
  </div>

  <div class="col-3 pe-5 text-center">
    <h6>Redémarrer la console à chaque compilation</h6>
    <button type="submit" class="btn btn-primary w-75 mx-3" id="btn-recharge-true" (click)="assigneRechargement()" *ngIf="recharge">Activé</button>
    <button type="submit" class="btn btn-danger w-75 mx-3" id="btn-recharge-false" (click)="assigneRechargement()" *ngIf="!recharge">Désactivé</button>
  </div>
</div>
