
#btn-go {
  animation: btn-animate 18s linear infinite;
}

#console {
  animation: console-animate 18s linear infinite;
}

@keyframes btn-animate {
  0% {
    background-color: green
  }

  10% {
    background-color: rgb(44, 71, 151)
  }

  20% {
    background-color: rgb(148, 3, 3)
  }

  30% {
    background-color: rgb(206, 63, 12)
  }

  40% {
    background-color: crimson
  }

  50% {
    background-color: darkcyan
  }

  60% {
    background-color: chocolate
  }

  70% {
    background-color: purple
  }

  80% {
    background-color: rgb(154, 100, 0)
  }

  90% {
    background-color: rgb(0, 197, 197)
  }

  100% {
    background-color: green
  }
}

@keyframes console-animate {
  0% {
    color: rgb(2, 170, 2)
  }

  10% {
    color: rgb(71, 114, 244)
  }

  20% {
    color: red
  }

  30% {
    color: orangered
  }

  40% {
    color: rgb(255, 27, 72)
  }

  50% {
    color: rgb(0, 173, 173)
  }

  60% {
    color: chocolate
  }

  70% {
    color: rgb(228, 0, 228)
  }

  80% {
    color: orange
  }

  90% {
    color: cyan
  }

  100% {
    color: rgb(20, 179, 20)
  }
}
