
<p-dialog id="position"
          header="Connexion à la classe"
          [modal]="true"
          [(visible)]="estVisible"
          [draggable]="false"
          [style]="{ width: '35rem' }"
          closable="false"
          [dismissableMask]="false">

  <div class="mx-2">
    <div class="flex align-items-center">
      <label for="username" class="font-semibold block">
        Nom d'utilisateur
      </label>
      <input pInputText
             id="username"
             class="width-custom mt-1"
             [(ngModel)]="nomUtilisateur"
             autocomplete="off"
             variant="filled" />
    </div>

    <small class="p-text-secondary block mb-3 mt-1 px-2">
      Ce nom sera utilisé afin d'identifier vos exercices.
    </small>

    <div class="d-flex justify-content-center gap-2 mt-4 mb-2">
      <button type="button"
              class="btn btn-danger btn-medium w-50"
              (click)="quitterClasse()">
        Quitter la classe
      </button>
      <button type="button"
              id="confirm"
              class="btn btn-primary btn-medium w-50"
              [ngClass]="{'btn-enabled':!estInvalide(), 'btn-disabled': estInvalide()}"
              (click)="inscritAuCours()">
        Continuer
      </button>
    </div>
  </div>
</p-dialog>
