
#position {
    z-index: 900;
}

.block {
  display: block;
}

.width-custom {
  width: 75%;
}

#confirm {
  background-color: #3B82F6 !important;
  border: none !important;
}

  #confirm:hover {
    background-color: hsl(210, 100%, calc(60% - 20%)) !important;
  }
