<div class="container">
  <div class="col-md-6 offset-md-3 text-center">
    <app-erreur [message]="msgErreur"></app-erreur>
    <h1 class="my-5">Création d'un exercice</h1>
  </div>

  <form [formGroup]="exerciceForm">
  <div class="row ms-3">
    <div class="col-md-4">
        <div class="form-floating m-3">
          <input type="text" class="form-control" id="nom"
                 formControlName="nom" placeholder="Nom"
                 [class.is-invalid]="nom?.invalid && (nom?.dirty || nom?.touched)">
          <label for="nom">Nom de l'exercice</label>
          <div class="invalid-feedback">
                <span *ngIf="nom?.errors?.['required']">
                  Veuillez entrer un nom pour l'exercice
                </span>
          </div>
        </div>
        <div class="form-floating m-3">
          <textarea class="form-control" style="height: 250px;" placeholder="enonce"
                        formControlName="enonce" id="enonce"
                        [class.is-invalid]="enonce?.invalid && (enonce?.dirty || enonce?.touched)"></textarea>
          <label for="enonce">Énoncé de l'exercice</label>
          <div class="invalid-feedback">
                <span *ngIf="enonce?.errors?.['required']">
                  Veuillez inscrire l'énoncé de l'exercice
                </span>
          </div>
        </div>
    </div>

      <div class="col">
        <div class="form-floating m-3">
          <h4><strong>(Optionnel) Résultat attendu</strong></h4>
          <p class="small">En ajoutant un résultat attendu, l’étudiant sera en mesure d’avoir de la rétroaction à savoir si le
            code qu’il a inscrit est la réponse attendu dans la console.</p>
          <textarea class="form-control" style="height: 100px;" placeholder="resultat"
                    formControlName="resultat" id="resultat"
                    [class.is-invalid]="resultat?.invalid && (resultat?.dirty || resultat?.touched)"></textarea>
        </div>
        <div class="form-floating m-3">
        <h4><strong>(Optionnel) Démarche attendue</strong></h4>
        <p class="small">La démarche attendu n’est pas affiché à l’utilisateur. Il vous permet simplement de comparer
          le code de l’étudiant au code que vous attendiez de sa part lors de la correction.</p>

          <ngx-codemirror class="py-2" #codeeditor
                          [(ngModel)]="content"
                          [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'javascript'
    }"></ngx-codemirror>
      </div>
      </div>
  </div>
  </form>
  <div class="col-md-6 offset-md-3 text-center mt-3">
    <button class="btn btn-danger ms-2 me-1 px-5" [routerLink]="'/portail-enseignant/nouvelle-classe'">Annuler la création</button>
    <button type="submit" class="btn btn-secondary ms-1 px-3" (click)="creerExercice()">Sauvegarder</button>
  </div>
</div>



